{% extends 'fridge/base_admin.html' %}

{% block content %}
<h4>Adresse</h4>
<p>{{ fridge.address }}, {{ fridge.NPA }}</p>

<h4>Numéro de téléphone</h4>
<p>{{ fridge.phone_number }}</p>

<h4>Horaire</h4>
{% for oh in fridge.get_opening_hours %}
<div>
    <p>{{ oh }} : {{ oh.from_hour }} - {{ oh.to_hour }}</p>
</div>
{% endfor %}
<a href="{% url 'fridge:admin-schedule-new' %}">
    <i class="small material-icons" style="color: rgb(87, 161, 173);">add_circle</i>
</a>

<h4>Horaire spéciaux</h4>
{% for sh in fridge.get_special_hour %}
<div>
    <p>{{ sh }} : {{ sh.from_date }}</p>
</div>
{% endfor %}
<a href="{% url 'fridge:admin-specialday-new' %}">
    <i class="small material-icons" style="color: rgb(87, 161, 173);">add_circle</i>
</a>

<h4>Utilisateur</h4>
<p>{{ fridge.user }}</p>
{% endblock %}