{% extends 'fridge/base.html' %}

{% block content %}


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">{{ fridge.name }}</a>
        <a class="brand-logo right" href="{% url 'fridge:admin-form' %}" >
            <i class="large material-icons">add_circle</i>
          </a>
    </div>
</nav>

{% if user.is_authenticated %}

<section class="section">
    <div class="container">
        <ul class="collection with-header">
            {% for food in fridge.get_foods %}
            <li class="collection-item">
                <div>{{ food.name }}<a href="{% url 'fridge:admin-delete' food.pk %}" class="secondary-content"><i class="material-icons">cancel</i></a></div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% else %}

<section class="section">
    <div class="container">
        <p>Vous n'êtes pas authentifié!!</p>
    </div>
</section>

{% endif %}

{% endblock %}