{% extends 'fridge/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <ul class="collection with-header">
            <li class="collection-header">
                <h4>First Names</h4>
            </li>
            <li class="collection-item">
                <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
            </li>
            <li class="collection-item">
                <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}