{% extends 'fridge/base.html' %}

{% block content %}
{% load static %}

<nav>
    <div class="nav-wrapper" style="background-color: rgb(87, 161, 173);">
        <ul class="brand-logo left">
            <li><img src="{% static "fridge/logo.png" %}" style="width: 4rem;height: 4rem;"></li>
            <li>{{ fridge.name }}</li>
        </ul>
        <ul class="brand-logo right">
            <li>
                <a href="{% url 'fridge:admin-detail' %}">
                    <i class="large material-icons">settings</i>
                </a>
            </li>
            <li>
                <a href="{% url 'fridge:admin-form' %}">
                    <i class="large material-icons">add_circle</i>
                </a>
            </li>
        </ul>

    </div>
</nav>

{% if user.is_authenticated %}

<section class="section">
    <div class="container">
        <ul class="collection with-header">
            {% for food in fridge.get_foods %}
            <li class="collection-item">
                <div>{{ food.name }}
                    <a href="{% url 'fridge:admin-delete' food.pk %}" class="secondary-content">
                        <i class="material-icons">cancel</i>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% else %}

<section class="section">
    <div class="container">
        <p>Vous n'êtes pas authentifié!!</p>
    </div>
</section>

{% endif %}

{% endblock %}