{% load static %}
<html>

<head>
    <title>Hello Bulma!</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fridge/style.css" %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="navbar-fixed">

        <nav class="nav-extended">
            <div class="nav-wrapper" style="background-color: rgb(87, 161, 173);">
                <ul class="brand-logo left">
                    <li><img src="{% static "fridge/logo.png" %}" style="width: 4rem;height: 4rem;"></li>
                    <li>{{ fridge.name }}</li>
                </ul>
                <ul class="brand-logo right">
                    {% url 'fridge:admin-detail' as admin_detail %}
                    {% if admin_detail %}
                    <li>
                        <a href="{% url 'fridge:admins' %}">
                            <i class="large material-icons">home</i>
                        </a>
                    </li>
                    {% endif %}

                    {% url 'fridge:admins' as admins %}
                    {% if admins %}
                    <li>
                        <a href="{% url 'fridge:admin-detail' %}">
                            <i class="large material-icons">settings</i>
                        </a>
                    </li>
                    {% endif %}

                    <li>
                        <a href="{% url 'fridge:admin-food-form' %}">
                            <i class="large material-icons">add_circle</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        {% if form.errors %}
        <div class="card red darken-1">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="card-content">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="card-content white-text">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if user.is_authenticated %}

        {% block content %}{% endblock %}

        {% else %}

        <section class="section">
            <div class="container">
                <p>Vous n'êtes pas authentifié!!</p>
            </div>
        </section>

        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "fridge/script.js" %}"></script>


    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>