{% extends 'fridge/base.html' %}
{% load static %}
{% block content %}

<!-- NAVBAR HEADER -->
<div class="navbar-fixed">
  <nav class="nav-extended">
    <div class="nav-wrapper" style="background-color: rgb(87, 161, 173);">
      <a href="#!" class="brand-logo">FreeGo</a>
    </div>
  </nav>
</div>

<!-- BODY -->
<div class="container">
  <div class="row">

    {% for fridge in fridge_list %}
    <div class="col s10 offset-s1 m4">
      <div class="card">
        <div class="card-image">
          <img src="{% static "fridge/office.JPG" %}">
          <span class="card-title">{{ fridge.name }}</span>
        </div>
        <div class="card-content">
          <b>Adresse</b>
          <p>{{ fridge.address }}</p>
          <b>Horaire</b>
          {% for oh in fridge.get_opening_hours %}
          <div>
            <p>{{ oh }} : {{ oh.from_hour }} - {{ oh.to_hour }}</p>
          </div>
          {% endfor %}
          <b>Horaires spéciaux</b>
          <p>TODO</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

<!-- NAVBAR BOTTOM-->
<div class="navbar-bottom">
  <nav>
    <div class="nav-wrapper" style="background-color: rgb(87, 161, 173);">
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#!"><i class="material-icons">home</i></a></li>
          <li class="tab"><a href="#!"><i class="material-icons">list</i></a></li>
          <li class="tab"><a href="#!"><i class="material-icons">map</i></a></li>
          <li class="tab"><a href="#!"><i class="material-icons">favorite</i></a></li>
          <li class="tab"><a href="#!"><i class="material-icons">account_circle</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %}