{% extends 'fridge/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <ul class="collection with-header">
        {% for food in food_list %}
        <li class="collection-item">
            <div>{{ food.name }}
                <a href="#" class="secondary-content">
                    <i class="material-icons">eco</i></a><!-- TODO find better icons -->
                <a href="#" class="secondary-content">
                    <i class="material-icons">face</i></a><!-- TODO find better icons -->
                {% if food.is_reserve %}
                <a href="{% url 'fridge:food-cancellation' food.pk %}" class="secondary-content">
                    <i class="material-icons">turned_in</i></a>
                {% else %}
                <a href="{% url 'fridge:food-reservation' food.pk %}" class="secondary-content">
                    <i class="material-icons">turned_in_not</i></a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
