{% extends 'fridge/base_admin.html' %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="input-field col s6">
            <input id="name" name="name" type="text" required />
            <label for="name">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <label>
                <input id="vegetarian" name="vegetarian" class="filled-in" type="checkbox" />
                <span>Vegetarian</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <label>
                <input id="vegan" name="vegan" class="filled-in" type="checkbox" />
                <span>Vegan</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="expiration_date" name="expiration_date" type="text" class="datepicker" required>
            <label for="expiration_date">Expiration date</label>
        </div>
    </div>

    <input type="submit" value="Save" />
</form>
{% endblock %}