{% extends 'fridge/base_admin.html' %}

{% block content %}
{% load static %}

<h1>Create Post Page</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="input-field col s6">
            <input id="name" name="name" type="text" required />
            <label for="name">Name</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input id="address" name="address" type="text" required />
            <label for="address">address</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input id="NPA" name="NPA" type="text" required />
            <label for="NPA">NPA</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input id="phone_number" name="phone_number" type="text" required />
            <label for="phone_number">phone_number</label>
        </div>
    </div>

    <div class="row">
        <div class="file-field input-field">
            <div class="btn">
                <span>image</span>
                <input id="image" name="image" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <select name="user">
                <option value="" disabled selected>User</option>

                {% for user in user_all %}
                <option value="{{ user.id  }}">{{ user.username }}</option>
                {% endfor %}

            </select>
            <label>Materialize Select</label>
        </div>
    </div>

    <button type="submit">Valider</button>
</form>

{% endblock %}