{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('NEW TITLE') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'fridge:index' %}">FreeGO</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">

    <a class="button is-link" href="{% url 'fridge:index' %}">Home</a>

    {% if user.is_authenticated %}
    <a class="button is-link" href="{% url 'fridge:index' %}">Profile</a>
    {% else %}
    <a class="button is-link" href="{% url 'fridge:index' %}">Sign in</a>
    {% endif %}

</div>
{% endblock %}