{% extends 'fridge/base.html' %}
{% load static %}
{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">
      Bienvenue sur l'application web de l'Association Free Go
    </h1>

    <p>
        Notre association a pour but de mettre en place des réfrigérateurs et des armoires libre-service afin de diminuer le gaspillage alimentaire tout en permettant d'aider les personnes les plus démunies.

        Elle a été crée en 2019.
    </p>

  </div>
</section>

{% endblock %}
