{% extends 'fridge/base_admin.html' %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="input-field col s6">
            <input id="from_date" name="from_date" type="text" class="datepicker" required>
            <label for="from_date">from_date</label>
        </div>
    </div>

    <!-- if from_date -->
    <div class="row">
        <div class="input-field col s6">
            <input id="to_date" name="to_date" type="text" class="datepicker">
            <label for="to_date">to_date</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="from_hour" name="from_hour" type="time" />
            <span>from_hour</span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="to_hour" name="to_hour" type="time" />
            <span>to_hour</span>
        </div>
    </div>

    <input type="submit" value="Save" />
</form>
{% endblock %}