.navbar-bottom {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 997;
}

.btn {
    background-color: rgb(87, 161, 173);
}

.outline {
    border: 2px solid rgb(87, 161, 173);
    background-color: white;
    color: rgb(87, 161, 173);
}