-i https://pypi.org/simple
asgiref==3.2.10
atomicwrites==1.4.0; sys_platform == 'win32'
attrs==20.1.0
colorama==0.4.3; sys_platform == 'win32'
coverage==5.2.1
django-cors-headers==3.5.0
django-model-utils==4.0.0
django-notifications-hq==1.6.0
django-pwa==1.0.10
django-rest-framework==0.1.0
django==3.1.1
djangorestframework==3.11.1
flake8==3.8.3
geographiclib==1.50
geopy==2.0.0
iniconfig==1.0.1
jsonfield==3.1.0
mccabe==0.6.1
more-itertools==8.5.0
packaging==20.4
pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest-django==3.9.0
pytest==6.0.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
swapper==1.1.2.post1
toml==0.10.1
