{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Go</title>
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    {% autoescape off %}
    <div class="container">
        <div style="font-size: 3rem;" class="valign-wrapper"><img class="responsive-img" width="64" height="64"
                src="{{site}}{% static 'fridge/logos/icon-128x128.png' %}" alt="">Free Go</div>
        <section class="section col s10 offset-s1">
            <div class="row" style="font-size:1.5rem;">{% trans "Hi"  %} {{ user.get_username }}{% trans ","  %}</div>
            <div class="row" style="font-size:1.5rem;">
                {% blocktrans %}Please click on the link to confirm your registration : {% endblocktrans %}
                {% block reset_link %}
                http://{{ domain }}{% url 'fridge:activate' uidb64=uid token=token %}
                {% endblock %}

            </div>
            <div class="row" style="font-size:1.5rem;">{% blocktrans %}The Free Go team{% endblocktrans %}
            </div>
        </section>
        <!-- <div class="divider"></div>
        <section class="section">
            <div class="row center-align">
                <a href="https://www.facebook.com/assocFreeGo/" class="col s2 offset-s1"><i class="fab fa-facebook"
                        style="font-size: 2em; color: black;" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/freegoneuch/?hl=fr" class="col s2"><i class="fab fa-instagram"
                        style="font-size: 2em; color: black;" aria-hidden="true"></i></a>
                <a href="https://twitter.com/GoAssociation" class="col s2"><i class="fab fa-twitter"
                        style="font-size: 2em; color: black;" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/association-free-go-ne/" class="col s2"><i
                        class="fab fa-linkedin" style="font-size: 2em; color: black;" aria-hidden="true"></i></a>
                <a href="https://www.association-freego.ch/" class="col s2"><i class="material-icons"
                        style="font-size: 2em; color: black;" aria-hidden="true">web</i></a>
            </div>
        </section> -->
    </div>
    {% endautoescape %}
</body>

</html>
