{% extends 'common/base_email.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% autoescape off %}
<div class="container">
    <div style="font-size: 3rem;" class="valign-wrapper"><img class="responsive-img" width="64" height="64"
            src="{{site}}{% static 'fridge/logos/icon-128x128.png' %}" alt="">Free Go</div>
    <section class="section col s10 offset-s1">
        <div class="row" style="font-size:1.5rem;">{% trans "Hi"  %} {{ user.get_username }}{% trans ","  %}</div>
        <div class="row" style="font-size:1.5rem;">
            {% blocktrans %}You're receiving this email because you requested a password reset for your user
            account.{% endblocktrans %}
            {% trans "Please go to the following page and choose a new password:" %}
            {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'fridge:password_reset_confirm' uidb64=uid token=token %}
            {% endblock %}
        </div>
        <div class="row" style="font-size:1.5rem;">{% blocktrans %}The Free Go team{% endblocktrans %}
        </div>
    </section>
</div>
{% endautoescape %}
{% endblock %}