{% extends 'common/base_store.html' %}
{% load static %}
{% block content %}
{% load i18n %}

<h5 class="container">{% trans 'Account details' %}</h5>
<ul class="collection">
    <a href="{% url 'fridge:change-username' user.pk %}" class="collection-item black-text">{% trans 'Name' %}
        <span class="secondary-content">{{ user.username }}</span>
    </a>
</ul>
<h5 class="container">{% trans 'Parameters' %}</h5>
<ul class="collection">
    <a href="{% url 'fridge:change-password' %}" class="collection-item black-text">{% trans 'Change password' %}
        <i class="material-icons secondary-content" aria-hidden="true">send</i>
    </a>
</ul>

{% endblock %}