{% extends 'user/base_login.html' %}

{% load static %}
{% block content %}
{% load i18n %}

<h4 class="center-align">{% trans 'Register' %}</h4>
<form method="post" class="col s12">
  {% csrf_token %}

  <div class="row">
    <div class="input-field col s12">
      <input id="username" name="username" type="text" required />
      <label for="username">{% trans 'Username : ' %}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="email" name="email" type="email" required />
      <label for="email">{% trans 'Email address : ' %}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password1" name="password1" type="password" required />
      <label for="password1">{% trans 'Password : ' %}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password2" name="password2" type="password" required />
      <label for="password2">{% trans 'Password confirmation : ' %}</label>
    </div>
  </div>
  <div class="row">
    <button class="btn col s12" type="submit" name="action">{% trans 'Create an account' %}</button>
  </div>
</form>

<div class="row">
  <a class="btn col s12 outline" href="{% url 'fridge:login' %}">{% trans 'I have already an account' %}</a>
</div>
{% endblock %}