{% extends 'admin/base_store.html' %}

{% block content %}
{% load static %}

<div class="collection">
    {% for fridge in fridges %}
    <div>
        <a href="{% url 'fridge:fridge-detail' fridge.pk %}" class="collection-item black-text">{{ fridge.name }}
            <i href="{% url 'fridge:fridge-delete' fridge.pk %}" class="material-icons secondary-content"
                aria-hidden="true">remove_circle</i>
        </a>
    </div>
    {% endfor %}
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large freego-color" href="{% url 'fridge:food-form' %}">
        <i class="material-icons" style="font-size: 3rem;" aria-hidden="true">add</i>
    </a>
</div>

{% endblock %}