{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col s1">
        <a href="{% url 'fridge:fridge-list' %}">
            <i class="material-icons black-text" data-feather="corner-up-left" aria-hidden="true"></i></a>
    </div>
</div>
<div class="container">
    <div class="row" id="main">
        {% for food in food_available %}
        {% include "admin/food_detail.html" %}
        {% endfor %}

        {% for food in food_reserve %}
        {% include "admin/food_detail.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}