{% load static %}
{% load i18n %}

<div class="col s6 m4">
    <div class="card small">
        <a id="reference" href="#">
            <div class="card-image">
                <img id="image" src="{{ food.image.url }}" alt="fridge image">
                <span id="name" class="card-title">{{ food.name }}</span>
            </div>
        </a>
        <div class="card-content">
            <p><strong>{% trans 'Expiration date' %}</strong> {{ food.expiration_date }}</p>
        </div>
        <div class="card-action center-align">
            {% if food.vegetarian %}
            <a href="#">
                <i class="material-icons" aria-hidden="true"><img src={% static "fridge/icons/vegetarian-icon.png" %}
                        alt="vegetarian logo" style="width: 2rem;height: 2rem;"></i></a>
            {% endif %}
            {% if food.vegan %}
            <a href="#">
                <i aria-hidden="true"><img src={% static "fridge/icons/vegan-icon.png" %} alt="vegan logo"
                        style="width: 2rem;height: 2rem; margin: 0 5px;"></i></a>
            {% endif %}
            {% if food.is_available %}
            <a href="{% url 'fridge:food-reservation' food.pk %}">
                <i class="material-icons small black-text" aria-hidden="true">turned_in_not</i></a>
            {% else %}
            <a href="{% url 'fridge:food-cancellation' food.pk %}">
                <i class="material-icons small black-text" aria-hidden="true">turned_in</i></a>
            {% endif %}
        </div>
    </div>
</div>