{% extends 'admin/base_store.html' %}

{% block content %}
{% load static %}
{% load i18n %}

<div class="container">
    <h4>{% trans 'Modification of a Free Go' %}</h4>
    <form method="post" enctype="multipart/form-data" class="col s12">
        {% csrf_token %}

        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" value="{{fridge.name}}" required />
                <label for="name">{{ form.name.label }}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="address" name="address" type="text" value="{{fridge.address}}" required />
                <label for="address">{{ form.address.label }}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="NPA" name="NPA" type="text" value="{{fridge.NPA}}" required />
                <label for="NPA">{{ form.NPA.label }}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="city" name="city" type="text" value="{{fridge.city}}" required />
                <label for="city">{{ form.city.label }}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="phone_number" name="phone_number" type="text" value="{{fridge.phone_number}}" required />
                <label for="phone_number">{{ form.phone_number.label }}</label>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>{{ form.image.label }}</span>
                    <input id="image" name="image" type="file" value="{{fridge.image}}">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light col s12" type="submit"
                name="action">{% trans 'Validate' %}</button>
        </div>
    </form>
</div>

{% endblock %}