{% extends 'admin/base_store.html' %}

{% block content %}
{% load static %}
{% load i18n %}

<div class="container">
    <h4>{% trans 'Inventory sheet' %}</h4>
    <table>
        <thead>
            <tr>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Product name' %}</th>
                <th>{% trans 'Product number' %}</th>
                <th>{% trans 'Temperature (°C)' %}</th>
                <th>{% trans 'Visa' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventory_list %}
            <tr>
                <td>{{inventory.date}}</td>
                <td>{{inventory.product_name}}</td>
                <td>{{inventory.product_number}}</td>
                <td>{{inventory.temperature}}</td>
                <td>{{inventory.visa}}</td>
                <td>
                    <a href="{% url 'fridge:inventory-update' inventory.pk %}" class="btn btn-success btn-sm">Update</a>
                    <a href="{% url 'fridge:inventory-delete' inventory.pk %}" class="btn btn-warning btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'fridge:inventory-new' fridge.pk %}"
        class="btn waves-effect waves-light right">{% trans 'Add' %}</a>
</div>
{% endblock %}