{% extends 'admin/base_store.html' %}
{% load i18n %}

{% block content %}

<div class="container">
    <h5>{% trans 'Special Day' %}</h5>
    {% for sh in special_day_list %}
    <div>
        <p>{{ sh }}
            <a href="{% url 'fridge:specialday-delete' sh.pk %}" class="secondary-content">
                <i class="material-icons" aria-hidden="true"
                    style="width: 1rem;height: 1rem;color: red;">remove_circle</i>
            </a>
        </p>
    </div>
    {% endfor %}

    <a href="{% url 'fridge:specialday-form' %}">
        <i class="small material-icons" aria-hidden="true" style="color: rgb(87, 161, 173);">add_circle</i>
    </a>
</div>
{% endblock %}