{% extends 'admin/base_store.html' %}

{% block content %}
{% load static %}
{% load i18n %}

<img class="responsive-img" src="{{ fridge.image.url }}">

<ul class="collection">
    <li class="collection-item">
        <h5>{% trans 'Informations' %}</h5>
        {% if not fridge.is_active %}
        <div class="row">
            <strong class="red-text">{% trans 'Waiting for validation' %}</strong>
        </div>
        {% endif %}
        <div class="row">
            <strong>{% trans 'Address' %} : </strong>
            {{ fridge.address }}, {{ fridge.zip_code }} {{ fridge.city }}
        </div>
        <div class="row">
            <strong>{% trans 'Email' %} : </strong>
            {{ fridge.user.email }}
        </div>
        <div class="row">
            <strong>{% trans 'Phone number' %} : </strong>
            {{ fridge.phone_number }}
        </div>
    </li>
    {% if fridge.get_opening_hours %}
    <li class="collection-item">
        <h5>{% trans 'Opening hours' %}</h5>
        {% for opening_hour in fridge.get_opening_hours %}
        {% include "schedule/opening_hour_detail.html" %}
        {% endfor %}
    </li>
    {% endif %}
    {% if fridge.get_reserved_food %}
    <li class="collection-item">
        <h5>{% trans 'Reserved food' %}</h5>
        <div class="row" id="main">
            {% for food in fridge.get_reserved_food %}
            {% include "food/food_card_validation.html" %}
            {% endfor %}
        </div>
    </li>
    {% endif %}
    {% if fridge.get_available_food %}
    <li class="collection-item">
        <h5>{% trans 'Available food' %}</h5>
        <div class="row" id="main">
            {% for food in fridge.get_available_food %}
            {% include "food/food_card.html" %}
            {% endfor %}
        </div>
    </li>
    {% endif %}
</ul>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large freego-color" href="{% url 'fridge:food-form' %}">
        <i class="material-icons" style="font-size: 3rem;" aria-hidden="true">add</i>
    </a>
</div>
<div class="fixed-action-btn-left">
    <a class="btn-floating btn-large freego-color" href="{% url 'fridge:fridge-detail' fridge.pk %}">
        <i class="material-icons" style="font-size: 3rem;" aria-hidden="true">settings</i>
    </a>
</div>

{% endblock %}