<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load i18n %}
    <title>Free Go</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'fridge/css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="app-base">
        <div class="navbar-fixed">
            <nav class="nav-extended">
                <div class="nav-wrapper">
                    <!-- admin -->
                    {% url 'fridge:myadmin' as myadmin_url %}
                    {% url 'fridge:store' fridge.pk as store_url %}
                    {% url 'fridge:sponsor-new' as sponsor_new_url %}
                    {% url 'fridge:sponsor-update' as sponsor_update_url %}
                    {% url 'fridge:sponsor-list' as sponsor_list_url %}
                    {% url 'fridge:inventory-new' fridge.pk as inventory_new_url %}
                    {% url 'fridge:inventory-sheet' fridge.pk as inventory_sheet_url %}
                    {% url 'fridge:inventory-update' inventory.pk as inventory_update_url %}
                    {% url 'fridge:temperature-control-new' fridge.pk as temperature_control_new_url %}
                    {% url 'fridge:temperature-control-list' fridge.pk as temperature_control_sheet_url %}
                    {% url 'fridge:temperature-control-update' object.pk as temperature_control_update_url %}

                    {% if request.path == myadmin_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a class="brand-logo">{% trans 'Administation' %}</a>

                    {% elif request.path == store_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>

                    {% elif request.path == sponsor_new_url %}
                    <a class="left" href="{% url 'fridge:myadmin' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Add sponsor' %}</a>

                    {% elif request.path == sponsor_list_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Sponsors list' %}</a>

                    {% elif request.path == inventory_new_url  %}
                    <a class="left" href="{% url 'fridge:inventory-sheet' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Add inventory' %}</a>

                    {% elif request.path == inventory_update_url %}
                    <a class="left" href="{% url 'fridge:inventory-sheet' object.fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Add inventory' %}</a>

                    {% elif request.path == inventory_sheet_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Inventory sheet' %}</a>

                    {% elif request.path == temperature_control_new_url %}
                    <a class="left" href="{% url 'fridge:temperature-control-list' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Temperature control' %}</a>

                    {% elif request.path == temperature_control_update_url %}
                    <a class="left" href="{% url 'fridge:temperature-control-list' object.fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Temperature control' %}</a>

                    {% elif request.path == temperature_control_sheet_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Temperature control' %}</a>
                    {% endif %}

                    <!-- food -->
                    {% url 'fridge:food-list' fridge.pk as food_list_url %}
                    {% url 'fridge:food-form' fridge.pk as food_form_url %}
                    {% url 'fridge:food-detail' food.pk as food_detail_url %}
                    {% url 'fridge:food-update' food.pk as food_update_url %}

                    {% if request.path == food_list_url %}
                    <a class="left" href="{% url 'fridge:list' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>
                    {% if is_favorite %}
                    <a class="right" href="{% url 'fridge:fridge-unfollow' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">favorite</i></a>
                    {% else %}
                    <a class="right" href="{% url 'fridge:fridge-follow' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">favorite_border</i></a>
                    {% endif %}
                    {% elif request.path == food_detail_url %}
                    <a class="left" href="{% url 'fridge:food-list' food.fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ food.fridge.name }}</a>
                    {% elif request.path == food_form_url %}
                    <a class="left" href="{% url 'fridge:store' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>
                    {% elif request.path == food_update_url %}
                    <a class="left" href="{% url 'fridge:store' food.fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ food.fridge.name }}</a>
                    {% endif %}

                    <!-- fridge -->
                    {% url 'fridge:fridge-new' as fridge_new_url %}
                    {% url 'fridge:fridge-detail' fridge.pk as fridge_detail_url %}
                    {% url 'fridge:fridge-demand' as fridge_demand_url %}
                    {% url 'fridge:change-name' fridge.pk as change_name_url %}
                    {% url 'fridge:change-address' fridge.pk as change_address_url %}
                    {% url 'fridge:change-phone-number' fridge.pk as change_phone_number_url %}
                    {% url 'fridge:change-image' fridge.pk as change_image_url %}

                    {% if request.path == fridge_new_url %}
                    <a class="left" href="{% url 'fridge:myadmin' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Create fridge' %}</a>

                    {% elif request.path == fridge_demand_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Ask for become a freego' %}</a>

                    {% elif request.path == fridge_detail_url %}
                    <a class="left" href="{% url 'fridge:store' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>

                    {% elif request.path == change_name_url or request.path == change_address_url or request.path == change_phone_number_url or request.path == change_image_url %}
                    <a class="left" href="{% url 'fridge:fridge-detail' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>
                    {% endif %}

                    <!-- schedule -->
                    {% url 'fridge:openinghour-form' fridge.pk as openinghour_form_url %}
                    {% url 'fridge:opening-hour-list' fridge.pk as opening_hour_list_url %}
                    {% url 'fridge:specialday-form' fridge.pk as specialday_form_url %}
                    {% url 'fridge:special-day-list' fridge.pk as special_day_list_url %}

                    {% if request.path == openinghour_form_url %}
                    <a class="left" href="{% url 'fridge:opening-hour-list' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>

                    {% elif request.path == opening_hour_list_url %}
                    <a class="left" href="{% url 'fridge:fridge-detail' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>

                    {% elif request.path == specialday_form_url %}
                    <a class="left" href="{% url 'fridge:special-day-list' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>

                    {% elif request.path == special_day_list_url %}
                    <a class="left" href="{% url 'fridge:fridge-detail' fridge.pk %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{{ fridge.name }}</a>
                    {% endif %}

                    <!-- user -->
                    {% url 'fridge:register' as register_url %}
                    {% url 'fridge:login' as login_url %}
                    {% url 'fridge:profile' as profile_url %}
                    {% url 'fridge:change-username' as change_username_url %}
                    {% url 'fridge:change-password' as change_password_url %}
                    {% url 'fridge:password_reset' as password_reset_url %}
                    {% url 'fridge:password_reset_done' as password_reset_done_url %}
                    {% url 'fridge:password_reset_confirm' as password_reset_confirm_url %}
                    {% url 'fridge:reservation-list' as reservation_list_url %}
                    {% url 'fridge:contact' as contact_url %}
                    {% url 'fridge:donations' as donations_url %}
                    {% url 'fridge:notifications' as notifications_url %}

                    {% if request.path == register_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Register' %}</a>

                    {% elif request.path == login_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Login' %}</a>

                    {% elif request.path == profile_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Profile' %}</a>

                    {% elif request.path == change_username_url %}
                    <a class="left" href="{% url 'fridge:profile' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Profile' %}</a>

                    {% elif request.path == change_password_url %}
                    <a class="left" href="{% url 'fridge:profile' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Profile' %}</a>

                    {% elif request.path == password_reset_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Login' %}</a>

                    {% elif request.path == password_reset_done_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Login' %}</a>

                    {% elif request.path == password_reset_confirm_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Login' %}</a>

                    {% elif request.path == reservation_list_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Your reservations' %}</a>

                    {% elif request.path == contact_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Contact us' %}</a>

                    {% elif request.path == donations_url %}
                    <a class="left" href="{% url 'fridge:settings' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Donations' %}</a>

                    {% elif request.path == notifications_url %}
                    <a class="left" href="{% url 'fridge:home' %}">
                        <i class="material-icons black-text" style="font-size: 3rem;"
                            aria-hidden="true">chevron_left</i></a>
                    <a href="{% url 'fridge:home' %}" class="brand-logo">{% trans 'Your notifications' %}</a>
                    {% endif %}

                </div>
            </nav>
        </div>

        <!-- ALERT BOX -->
        {% if messages %}
        {% for message in messages %}
        <div class="row" id="alert_box">
            <div class="col s12 m12">
                <div class="card red darken-1">
                    <div class="row">
                        <div class="col s12 m10">
                            <div class="card-content white-text">
                                <p>{{message}}</p>
                            </div>
                        </div>
                        <div class="col s12 m2">
                            <i class="material-icons icon_style" id="alert_close" aria-hidden="true">close</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!-- END ALERT BOX -->

        {% block content %}{% endblock %}
    </div>
    <!-- JS -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'fridge/js/jquery-3.5.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'fridge/js/script.js' %}"></script>
    <script src="{% static 'fridge/js/app.js' %}"></script>
</body>

</html>