{% extends 'common/base_store.html' %}

{% block content %}
{% load static %}
{% load i18n %}

<div class="container">
    <form id="upload" method="post" enctype="multipart/form-data" class="col s12">
        {% csrf_token %}

        <!-- FORM -->
        {% if form.errors %}
        <ul class=" red-text">
            {% for error in form.non_field_errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% for field in form %}
        <div class="row">
            <div class="input-field col s12">
                {% if field.field.widget.input_type == 'file' %}
                <div class="file-field">
                    <div class="btn">
                        <span>{{ field.label }}</span>
                        {{ field }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>

                {% elif field.field.widget.input_type == 'checkbox' %}
                <label>
                    {{ field }}
                    <span>{{ field.label }}</span>
                </label>

                {% elif field.field.widget.input_type == 'select' %}
                {{ field }}

                {% elif field.field.widget.input_type == 'radio' %}
                <span>{{field.label}}</span>
                {% for options in field %}
                <p>
                    <label for="{{ options.id_for_label }}">
                        {{ options.tag }}
                        <span class="radio">{{ options.choice_label }}</span>
                    </label>
                </p>
                {% endfor %}

                {% else %}
                <span>{{ field.label }}</span>
                {{ field }}
                {% endif %}

                {% if field.errors %}
                {% for error in field.errors %}
                <span class="helper-text red-text" data-error="wrong" data-success="right">{{ error|escape }}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <p>*{% trans "Required" %}</p>

        <!-- ENDFORM -->
        <div class="progress" style="visibility: hidden">
            <div id="progressBar" class="indeterminate"></div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light col s12" type="submit"
                name="action">{% trans 'Validate' %}</button>
        </div>
    </form>
</div>

{% endblock %}