{% load i18n %}
{% load static %}
<!-- Modal Structure -->
<div id="modal_pop" class="modal">
    <div class="modal-content" style="font-size: 1.1rem;">
        <h5>{% trans 'Installation informations' %}</h5>
        <p>{% trans 'This app can be installed on your device' %}</p>
        <div class="divider"></div>
        <strong>{% trans 'Android' %}</strong>
        <p>{% trans 'An installation button should appear' %}</p>
        <div class="divider"></div>
        <strong>{% trans 'iPhone' %}</strong>
        <div class="row">
            {% trans 'Open this web site from safari' %}
        </div>
        <div class="row">
            {% trans 'Go on this link: https://freego.srvz-webapp.he-arc.ch/' %}
        </div>
        <div style="height: 64px;" class="valign-wrapper row"><img width="64" height="64"
                src="{% static 'fridge/icons/iphone_btn_1.jpeg'  %}" alt="">{% trans 'Clic on this button.' %}</div>

        <div style="height: 64px;" class="valign-wrapper row"><img width="64" height="64"
                src="{% static 'fridge/icons/iphone_btn_2.jpeg'  %}" alt="">{% trans 'Clic on "Add to home screen" options.' %}
        </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans 'Agree' %}</a>
    </div>
</div>