.page-footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 997;
}

main {
    padding-bottom: 3em;
}

.btn, .btn-large {
    background-color: rgb(87, 161, 173);
}

.outline {
    border: 2px solid rgb(87, 161, 173);
    background-color: white;
    color: rgb(87, 161, 173);
}

.icons {
    margin: 25px;
}

.nav-extended, .page-footer {
    background-color: rgb(87, 161, 173);
}

.valign-wrapper {
    height: 35rem;
}

.freego-color {
    background-color: rgb(87, 161, 173);
}

.fixed-action-btn-left {
    position: fixed;
    left: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

i.left {
    float: left;
    margin-right: 15px;
}

i.right {
    float: right;
    margin-left: 15px;
}

i.tiny {
    font-size: 1rem;
}

i.small {
    font-size: 2rem;
}

i.medium {
    font-size: 4rem;
}

i.large {
    font-size: 6rem;
}

.dropdown-content {
    min-width: 200px;
}

.icon_style {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
}

.brand-title {
    font-size: 1.8rem;
    text-align: center;
}

nav .brand-logo {
    width: 70%;
    font-size: 1.8rem;
    text-align: center;
}

/* TODO replace 127.0.0.1 by url */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(http://127.0.0.1:8000/static/fridge/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(http://127.0.0.1:8000/static/fridge/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
      url(http://127.0.0.1:8000/static/fridge/iconfont/MaterialIcons-Regular.woff) format('woff'),
      url(http://127.0.0.1:8000/static/fridge/iconfont/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }