.page-footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 997;
}

main {
    padding-bottom: 3em;
}

.btn {
    background-color: rgb(87, 161, 173);
}

.outline {
    border: 2px solid rgb(87, 161, 173);
    background-color: white;
    color: rgb(87, 161, 173);
}

.icons {
    margin: 25px;
}

.nav-wrapper, .page-footer {
    background-color: rgb(87, 161, 173);
}

.valign-wrapper {
    height: 50rem;
}

.freego-color {
    background-color: rgb(87, 161, 173);
}

.fixed-action-btn-left {
    position: fixed;
    left: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

i.left {
    float: left;
    margin-right: 15px;
}

i.right {
    float: right;
    margin-left: 15px;
}

i.tiny {
    font-size: 1rem;
}

i.small {
    font-size: 2rem;
}

i.medium {
    font-size: 4rem;
}

i.large {
    font-size: 6rem;
}