{% extends 'common/base_store.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<img class="responsive-img" src="{{ fridge.image.url }}" alt="fridge-image">

<ul class="collection">
    <li class="collection-item">
        <h5>{% trans 'Opening hours' %}</h5>
        {% if fridge.get_opening_hours %}
        {% for opening_hour in fridge.get_opening_hours %}
        {% include "schedule/opening_hour_detail.html" %}
        {% endfor %}
        {% else %}
        <p>{% trans 'No schedule provided' %}</p>
        {% endif %}
    </li>
    <li class="collection-item">
        <h5>{% trans 'Available food' %}</h5>
        {% if fridge.get_opening_hours %}
        <div class="row" id="main">
            {% for food in food_available %}
            {% include "food/food_card.html" %}
            {% endfor %}

            {% for food in food_reserve %}
            {% include "food/food_card.html" %}
            {% endfor %}
        </div>
        {% else %}
        <p>{% trans 'No food available' %}</p>
        {% endif %}
    </li>
</ul>
{% endblock %}