{% load static %}
{% load i18n %}

<div class="col offset-s2 s8 m6">
    <div class="card">
        <a id="reference" href="{% url 'fridge:food-detail' food.pk %}">
            <div class="card-image">
                <img id="image" src="{{ food.image.url }}" alt="fridge image">
            </div>
        </a>
        <div class="card-content">
            <span class="card-title grey-text text-darken-4">{{ food.name }}
                <a class='dropdown-trigger' href='#' data-target='dropdown1'>
                    <i class="material-icons right black-text">more_vert</i>
                </a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="{% url 'fridge:report-content' food.pk %}">{% trans 'Report content' %}</a></li>
                    {% if food.is_available %}
                    <li><a href="{% url 'fridge:food-reservation' food.pk %}">{% trans 'Reserve' %}</a></li>
                    {% else %}
                    <li><a href="{% url 'fridge:food-cancellation' food.pk %}">{% trans 'Cancel reservation' %}</a></li>
                    {% endif %}
                </ul>
            </span>
        </div>
    </div>
</div>