{% load static %}
{% load i18n %}
{% load fridge_extras %}

<div class="col s12 m6">
    <div class="card">
        <div class="card-content">
            <span class="card-title grey-text text-darken-4">
                <a id="reference" href="{% url 'fridge:food-detail' food.pk %}" class="black-text">{{ food.name }}</a>
            </span>
            {% if food.description %}
            <p>{{ food.description }}</p>
            {% endif %}
            {% nb_reservation_by_user food request.user as nb_reservations %}
            <p>{% trans "Number of reservations:" %} {{nb_reservations}}</p>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab">
                    <a href="{% url 'fridge:food-delete' food.pk %}"><i class="material-icons black-text"
                            aria-hidden="true">check</i>
                    </a>
                </li>
                <li class="tab">
                    <a href="{% url 'fridge:food-cancellation' food.pk %}"><i class="material-icons black-text"
                            aria-hidden="true">clear</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>