{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

<div class="container" id="app-favorite">
    <div id="main" class="row">
        <div v-for="favorite in favorites" v-bind:key="favorite.id" class="col s10 offset-s1 m4">
            <div class="card">
                <a id="reference" href="#">
                    <div class="card-image">
                        <img id="image" :src="favorite.image" alt="fridge image">
                        <span id="name" class="card-title">[[favorite.name]]</span>
                    </div>
                </a>
                <div class="card-content">
                    <strong>{% trans 'Address' %}</strong>
                    <p id="address">[[favorite.address]]</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}