{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div id="app" class="valign-wrapper center-align">
    <vl-map :load-tiles-while-animating="true" :load-tiles-while-interacting="true" data-projection="EPSG:4326">
        <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>
        <vl-geoloc @update:position="geolocPosition = $event">
            <template slot-scope="geoloc">
                <vl-feature v-if="geoloc.position" id="position-feature">
                    <vl-geom-point :coordinates="geoloc.position"></vl-geom-point>
                    <vl-style-box>
                        <vl-style-icon src="{% static 'fridge/icons/marker.png' %}" :scale="0.4" :anchor="[0.5, 1]">
                        </vl-style-icon>
                    </vl-style-box>
                </vl-feature>
            </template>
        </vl-geoloc>

        <vl-layer-tile id="osm">
            <vl-source-osm></vl-source-osm>
        </vl-layer-tile>

        <vl-feature v-for="fridge in fridges">
            <vl-geom-point :coordinates="[fridge.longitude, fridge.latitude]"></vl-geom-point>
            <vl-style-box>
                <vl-style-icon src="{% static 'fridge/icons/marker.png' %}" :scale="0.4" :anchor="[0.5, 1]">
                </vl-style-icon>
            </vl-style-box>
        </vl-feature>
    </vl-map>
</div>

<script>

    new Vue({
        el: '#app',
        data() {
            return {
                fridges: [],
                zoom: 15,
                center: [7.6451, 47.5227],
                rotation: 0,
                geolocPosition: undefined,
            }
        },
        mounted() {
            this.getFridges()
        },
        methods: {
            getFridges: function () {
                let api_url = "http://127.0.0.1:8000/fridges/";
                axios
                    .get(api_url)
                    .then(response => {
                        this.fridges = response.data;
                        console.log(this.fridges)
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
        }
    });
</script>

{% endblock %}