{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

{% if user.is_authenticated %}
<ul class="collection">
    <a href="{% url 'fridge:profile' %}" class="collection-item black-text">{% trans 'My profil' %}</a>

    {% if perms.fridge.admin %}
    <a href="{% url 'fridge:myadmin' %}" class="collection-item black-text">{% trans 'Administration' %}</a>
    {% endif %}

    {% if user.has_fridge %}
    <a href="{% url 'fridge:store' %}" class="collection-item black-text">{% trans 'My Free Go' %}</a>
    {% else %}
    <a href="{% url 'fridge:fridge-demand' %}"
        class="collection-item black-text">{% trans 'Ask for become a Free Go' %}</a>
    {% endif%}

    <a href="{% url 'fridge:reservation-list' %}" class="collection-item black-text">{% trans 'Reservation' %}</a>
    <a href="#!" class="collection-item black-text">{% trans 'Donations' %}</a>
    <a href="#!" class="collection-item black-text">{% trans 'Help' %}</a>
    <a href="#!" class="collection-item black-text">{% trans 'Contact us' %}</a>
    <a href="{% url 'fridge:logout' %}" class="collection-item black-text">{% trans 'Log out' %}</a>
</ul>
{% else %}
<div class="container">
    <div class="valign-wrapper">
        <div class="container">
            <div class="row center-align">
                <div class="row">
                    <div class="col s12">
                        <h4>{% trans 'You do not have an account yet' %}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a href="{% url 'fridge:login' %}" class="btn col s12">{% trans 'Log in' %}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a href="{% url 'fridge:register' %}"
                            class="btn col s12 outline">{% trans 'Create an account' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}