{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

{% if user.is_authenticated %}
<ul class="collection">
    <a href="{% url 'fridge:profile' %}" class="collection-item black-text">{% trans 'My profil' %}</a>

    {% if perms.fridge.admin %}
    <a href="{% url 'fridge:myadmin' %}" class="collection-item black-text">{% trans 'Administration' %}</a>
    {% endif %}

    {% if user.has_fridge %}
    <a href="{% url 'fridge:store' fridge.pk %}" class="collection-item black-text">{% trans 'My Free Go' %}</a>
    {% else %}
    <a href="{% url 'fridge:fridge-demand' %}"
        class="collection-item black-text">{% trans 'Ask for become a Free Go' %}</a>
    {% endif%}

    <a href="{% url 'fridge:reservation-list' %}" class="collection-item black-text">{% trans 'Reservation' %}</a>
    <a href="{% url 'fridge:donation' %}" class="collection-item black-text">{% trans 'Donations' %}</a>
    <a href="#!" class="collection-item black-text">{% trans 'Help' %}</a>
    <a href="{% url 'fridge:contact' %}" class="collection-item black-text">{% trans 'Contact us' %}</a>
    <a href="{% url 'fridge:logout' %}" @click="logout" class="collection-item black-text">{% trans 'Log out' %}</a>
</ul>
{% else %}

{% include 'user/login_options.html' %}

{% endif %}

{% endblock %}