{% load pwa %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
  {% progressive_web_app_meta %}
  <title>Free Go</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static "fridge/css/style.css" %}" type="text/css">
  <!-- JS -->
  <script src="https://unpkg.com/feather-icons"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <!-- NAVBAR HEADER -->
  <header>
    {% include "fridge/header.html" %}
  </header>

  <!-- BODY -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- NAVBAR BOTTOM-->
  <footer class="page-footer">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="{% url 'fridge:home' %}"><i class="material-icons">home</i></a></li>
      <li class="tab"><a href="{% url 'fridge:fridge-list' %}"><i class="material-icons">list</i></a></li>
      <li class="tab"><a href="{% url 'fridge:map' %}"><i class="material-icons">map</i></a></li>
      <li class="tab"><a href="{% url 'fridge:favorite' %}"><i class="material-icons">favorite</i></a></li>
      <li class="tab"><a href="{% url 'fridge:settings' %}"><i class="material-icons">account_circle</i></a>
      </li>
    </ul>
  </footer>

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    feather.replace()
  </script>

</body>

</html>