{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Free Go</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fridge/style.css" %}" type="text/css">
    <!-- JS -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- NAVBAR HEADER -->
    {% include "fridge/header.html" %}

    <!-- BODY -->
    <div class="container">
        {% if form.errors %}
        <div class="card red darken-1">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="card-content">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="card-content white-text">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>

</html>