{% extends 'fridge/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col s1">
        <a href="{% url 'fridge:fridge-list' %}">
            <i class="material-icons black-text" data-feather="corner-up-left" aria-hidden="true"></i></a>
    </div>
</div>
<div class="container">
    <ul class="collection with-header" id="main">
        {% for food in food_available %}
        <li class="collection-item">
            {% include "fridge/food_detail.html" %}
        </li>
        {% endfor %}

        {% for food in food_reserve %}
        <li class="collection-item">
            {% include "fridge/food_detail.html" %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}