{% extends 'common/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

<div class="container" id="app-fridges">
  <div id="main" class="row" v-if="ready">
    <div v-for="fridge in fridges" v-bind:key="fridge.id" class="col s10 offset-s1 m4">
      <div class="card">
        <a id="reference" :href="'/food/' + fridge.id + '/list'">
          <div class="card-image">
            <img id="image" :src="fridge.image" alt="fridge image" onerror="this.onerror=null; this.src='/media/offline.png'">
            <span id="name" class="card-title">[[fridge.name]]</span>
          </div>
        </a>
        <div class="card-content">
          <strong>{% trans 'Address' %}</strong>
          <p id="address">[[fridge.address]], [[fridge.zip_code]] [[fridge.city]]</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}