{% extends 'common/base_store.html' %}
{% load i18n %}

{% block content %}

<div class="container">
    {% for fridge_content_image in fridgecontentimage_list %}
    <div class="col s12 m6">
        <div class="card">
            <img src="{{ fridge_content_image.image.url }}" alt="" class="responsive-img"> <!-- notice the "circle" class -->
        </div>
    </div>
    {% endfor %}

    <ul class="pagination center-align">
        <li class="wave-effect"></li>
        {% if page_obj.has_previous %}
        <li class="wave-effect">
            <a href="?page={{ page_obj.previous_page_number }}">
                <i class="material-icons" aria-hidden="true">chevron_left</i>
            </a>
        </li>
        {% else %}
        <li class="diseable">
            <a href="#">
                <i class="material-icons" aria-hidden="true">chevron_left</i>
            </a>
        </li>
        {% endif %}

        <li class="active" style="background-color: rgb(87, 161, 173);;">
            <a href="#">
                {{ page_obj.number }}
            </a>
        </li>

        {% if page_obj.has_next %}
        <li class="wave-effect">
            <a href="?page={{ page_obj.next_page_number }}">
                <i class="material-icons" aria-hidden="true">chevron_right</i>
            </a>
        </li>
        {% else %}
        <li class="diseable">
            <a href="#">
                <i class="material-icons" aria-hidden="true">chevron_right</i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock %}