{% extends 'fridge/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

<div class="container">
  <div id="main" class="row">

    <div id="fridge-template" class="col s10 offset-s1 m4" hidden>
      <div id="card-last-updated" hidden></div>
      <div class="card">
        <a id="reference" href="#">
          <div class="card-image">
            <img id="image" src="">
            <span id="name" class="card-title"></span>
          </div>
        </a>
        <div class="card-content">
          <strong>{% trans 'Address' %}</strong>
          <p id="address"></p>
          {% comment %} <strong>{% trans 'Opening hour' %}</strong><br>
          {% for oh in fridge.get_opening_hours %}
          <div>
            <p>{{ oh }}</p>
          </div>
          {% endfor %}
          <strong>{% trans 'Special day' %}</strong><br>
          {% for sd in fridge.get_special_days %}
          <div>
            <p>{{ sd }}</p>
          </div>
          {% endfor %} {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}