{% extends 'fridge/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="collection">
    <a href="#!" class="collection-item black-text">Mon profil</a>
    <a href="{% url 'fridge:myadmin' %}" class="collection-item black-text">Administration</a>
    <a href="{% url 'fridge:store' %}" class="collection-item black-text">Mon Free Go</a>
    <a href="#!" class="collection-item black-text">Réservations</a>
    <a href="#!" class="collection-item black-text">Dons</a>
    <a href="#!" class="collection-item black-text">Aide</a>
    <a href="#!" class="collection-item black-text">Nous contacter</a>
    <a href="{% url 'fridge:logout' %}" class="collection-item black-text">Se déconnecter</a>
</div>
{% else %}
<div class="valign-wrapper" style="width: 100%;height: 100%; position: absolute;">
    <div class="container">
        <div class="row center-align">
            <div class="row">
                <div class="col s12">
                    <h4>Vous n'avez pas encore de compte</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a href="{% url 'fridge:login' %}" class="btn col s12">Se connecter</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}