{% extends 'fridge/base.html' %}
{% load static %}
{% block content %}

<div class="collection">
    <a href="#!" class="collection-item black-text">Mon profil</a>
    <a href="{% url 'fridge:myadmin' %}" class="collection-item black-text">Administration</a>
    <a href="{% url 'fridge:store' %}" class="collection-item black-text">Mon Free Go</a>
    <a href="#!" class="collection-item black-text">Réservations</a>
    <a href="#!" class="collection-item black-text">Dons</a>
    <a href="#!" class="collection-item black-text">Aide</a>
    <a href="#!" class="collection-item black-text">Nous contacter</a>
</div>

{% endblock %}