{% extends 'fridge/base_store.html' %}
{% load i18n %}

{% block content %}
<h4>{{ fridge.name }}</h4>

<h5>{% trans 'Address' %}</h5>
<p>{{ fridge.address }}, {{ fridge.NPA }}</p>

<h5>{% trans 'Phone number' %}</h5>
<p>{{ fridge.phone_number }}</p>

<h5>{% trans 'Opening Hour' %}</h5>
{% for oh in fridge.get_opening_hours %}
<div>
    <p>{{ oh }}
        <a href="{% url 'fridge:openinghour-delete' oh.pk %}" class="secondary-content">
            <i class="material-icons" style="width: 1rem;height: 1rem;color: red;">remove_circle</i>
        </a>
    </p>
</div>
{% endfor %}
<a href="{% url 'fridge:openinghour-form' %}">
    <i class="small material-icons" style="color: rgb(87, 161, 173);">add_circle</i>
</a>

<h5>{% trans 'Special Day' %}</h5>
{% for sh in fridge.get_special_days %}
<div>
    <p>{{ sh }}
        <a href="{% url 'fridge:specialday-delete' sh.pk %}" class="secondary-content">
            <i class="material-icons" style="width: 1rem;height: 1rem;color: red;">remove_circle</i>
        </a>
    </p>
</div>
{% endfor %}
<a href="{% url 'fridge:specialday-form' %}">
    <i class="small material-icons" style="color: rgb(87, 161, 173);">add_circle</i>
</a>

<h5>{% trans 'User' %}</h5>
<p>{{ fridge.user }}</p>
{% endblock %}